<div id="hero" class="t-hero t-section t-text-center">
  <div class="t-container mx-auto t-hero-content">
    <h1 class="t-display">Our studio gear is second to none with the only large format APIs in Mexico. Our in-house engineers have worked together for 15 years and boast an armful of Grammys between them</h1>
</div>

{% schema %}
 {
   "name": "About Intro",
   "tag": "section",
   "class": "section",
   "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    }
   ]
 }
{% endschema %}