<div id="hero" class="t-hero t-section t-text-center">
  <div class="t-container mx-auto t-hero-content">
    <h1 class="t-display">{{header}}</h1>
</div>

{% schema %}
 {
   "name": "About Intro",
   "tag": "section",
   "class": "section",
   "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Our Story"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "This is our story."
    }
  ]
 }
{% endschema %}