<div id="hero">
  <div class="t-container color-{{ section.settings.color_scheme }} ">
    <h1>{{section.settings.subheading}}</h1>
</div>

{% schema %}
 {
   "name": "Header (Text Only)",
   "tag": "section",
   "class": "section",
   "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Header",
      "default": "Our Story"
    },
    {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-3"
        }
  ]
 }
{% endschema %}