<div id="hero" class="t-hero t-section t-text-center">
  <div class="t-container mx-auto t-hero-content">
    <h1>{{section.settings.subheading}}</h1>
</div>

{% schema %}
 {
   "name": "About Intro",
   "tag": "section",
   "class": "section",
   "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Header",
      "default": "Our Story"
    },
  ]
 }
{% endschema %}