<link rel="stylesheet" href="{{ 'homepage.css' | asset_url }}">

<div id="hero" class="t-hero t-section t-text-center">
  <div class="t-container mx-auto t-hero-content">
    <h1 class="t-display t-text-orange">FOR THE ACT</h1>
    <img src="images/hero-cover.jpg" />
    <h1 class="t-display t-text-orange">OF CREATION</h1>
  </div>
  <img src="images/hero-bg.png" class="t-hero-bg" />
</div>

<div id="welcome" class="t-welcome t-section t-text-center">
  <div class="t-container mx-auto">
    <h2 class="t-h2">Casa de Copas is the first interdisciplinary & community-first recording space focused on the creation of
      holistic
      music and creative projects in Mexico City.</h2>
    <div class="t-text-center t-welcome-footer">
      <p>opening early 2024</p>
    </div>
  </div>
  <div class="t-welcome-floated">
    <img width="233px" src="images/welcome-floated/parsifal.jpg" class="t-parsifal" />
    <img width="123px" src="images/welcome-floated/deer.jpg" class="t-deer" />
    <img width="125px" src="images/welcome-floated/sun.jpg" class="t-sun" />
    <img width="125px" src="images/welcome-floated/human.jpg" class="t-human" />
  </div>
</div>

{% schema %}
  {
    "name": "Home Top",
    "tag": "section",
    "class": "section"
  }
{% endschema %}