<link rel="stylesheet" href="{{ 'homepage.css' | asset_url }}">

<div id="hero" class="t-hero t-section t-text-center">
  <div class="t-container mx-auto t-hero-content">
    <h1 class="t-display t-text-orange">FOR THE ACT</h1>
    <img src="{{ 'hero-cover.jpg' | asset_url }}" />
    <h1 class="t-display t-text-orange">OF CREATION</h1>
  </div>
  <img src="{{ 'hero-bg.png' | asset_url }}" class="t-hero-bg" />
</div>

{% schema %}
  {
    "name": "Home Top",
    "tag": "section",
    "class": "section"
  }
{% endschema %}