<div class="subheader-icon section">
  <h2>{{ settings.section_title }}</h2>
  {% if section.settings.image %}
    <img
      src="{{ section.settings.image | image_url }}"
      height="100%"
      width="90%"
      alt="background image">
  {% endif %}
</div>

{% schema %}
  {
    "name": "Custom Section with Icon",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Default Title"
      }, {
        "type": "image_picker",
        "id": "icon_image",
        "label": "Icon Image"
      }
    ],
    "presets": [
      {
        "name": "Custom Section with Icon",
        "category": "Custom"
      }
    ]
  }
{% endschema %}