/* 
@font-face {
  font-family: "Dahlia";
  src: url("fonts/dahlia.otf") format("opentype");
}

@font-face {
  font-family: "Carola";
  src: url("fonts/carola.otf") format("opentype");
}

html,
body {
  font-family: "t-Dahlia", serif;
}

h1 {
  font-family: "t-Carola", serif;
}

.t-display-xl {
  font-size: 120px !important;
  line-height: 100px;
  word-wrap: break-word;
}

h2 {
  font-size: 50px !important;
  line-height: 50px;
}

.t-display {
  font-size: 90px !important;
  word-wrap: break-word;
}

p {
  font-size: 20px !important;
}

.t-text-orange {
  color: #fd6854;
}

.t-section {
  background: #fff;
  padding: 5rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.t-hero {
  background: #d9c8b8;
  position: relative;
}

.t-hero-content {
  position: relative;
  z-index: 1;
}

.t-hero-bg {
  position: absolute;
  mix-blend-mode: color-dodge;
  right: 0;
  top: 0;
}

.hero img {
  margin: -1.5rem 0 0.5rem;
}

.t-welcome {
  background: #fd7d54;
}

.t-about {
  background: #000 url("images/about-bg.png") no-repeat;
  background-size: auto 100%;
  background-position: top right;
  color: #ffff;
}

.t-footer {
  background: #c6d48c;
}

.t-floated-menu {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: fixed;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  pointer-events: none;
  z-index: 2;
}

.t-floated {
  position: absolute;
}

.t-cup {
  right: 2rem;
}

.t-dogs {
  bottom: 1rem;
  left: 1rem;
}

.t-house {
  bottom: 5rem;
  right: 2rem;
}

.t-welcome-floated {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.t-welcome-floated img {
  box-shadow: 0 30px 30px rgba(0,0,0,.15);
  position: absolute; 
}

.t-welcome-footer {
  margin-top: 8rem;
}

.t-parsifal {
  top: -10rem;
  left: 10rem;
}

.t-deer {
  top: 3rem;
  right: 10rem;
}

.t-sun {
  bottom: 20rem;
  right: 10rem;
}

.t-human {
  bottom: 20rem;
  left: 10rem;
}

.t-heart {
  left: 5rem;
  top: 3rem;
}

.t-cup-phrase {
  right: 2rem;
  top: 2rem;
}

.t-geometric {
  right: 2rem;
  bottom: 2rem;
}

.t-gold {
left: 10rem;
bottom: 2rem;
}

.footer img {
  display: inline-block;
}

/* Desktop */

@media (min-width: 769px) {
  .t-display {
    font-size: 250px !important;
    line-height: 230px;
  }

  .t-display-xl {
    font-size: 280px !important;
    line-height: 250px;
  }

  h2 {
    font-size: 100px !important;
    line-height: 100px;
  }

  p {
    font-size: 60px !important;
  }
}

/* Mobile */

@media (max-width: 768px) {

  .t-section .t-container {
    padding: 1rem;
  }

  .t-hero img {
    max-width: none;
    width: 800px;
    margin-left: -300px;
  }

  .t-welcome h2 {
    padding: 0 3rem;
  }

  .t-cup {
    right: 1rem;
  }

  .t-dogs {
    bottom: 1rem;
    left: 1rem;
  }

  .t-house {
    bottom: 1rem;
    right: 1rem;
  }

  .t-welcome-floated img {
    max-height: 120px;
    width: auto;
  }

  .t-parsifal {
    top: -10rem;
    left: 2rem;
  }

  .t-deer {
    right: 0rem;
    top: 3rem;
  }

  .t-human {
    left: 0rem;
    bottom: 5rem;
  }

  .t-sun {
    right: 0rem;
    bottom: 5rem;
  }

  .t-gold {
    left: 0;
  }

  .t-heart {
    left: 1rem;
  }

  .t-geometric {
    bottom: -3rem;
  }

  .t-about {
    background-size: 300px auto;
    background-position: bottom right;
    justify-content: flex-start;
  }
}

.t-container {
  max-width: 7rem;
  margin-left: auto;
  margin-right: auto;
}

.t-hero {
  position: relative;
}

.t-hero-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.t-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.t-text-center {
  text-align: center;
}

.t-display {
  font-size: 6rem;
}

.t-text-orange {
  color: #f6993f;
}

.t-welcome {
  background-color: #edf2f7;
}

.t-welcome-footer {
  margin-top: 2rem;
}

.t-welcome-floated {
  position: relative;
  margin-top: -4rem;
  margin-bottom: -4rem;
}

.t-about {
  background-color: #f7fafc;
}

/* .t-w-3/4 {
  width: 75%;
} */

.t-mt-10 {
  margin-top: 2.5rem;
}

.t-text-3xl {
  font-size: 1.875rem;
}

.t-footer {
  background-color: #edf2f7;
}

.t-my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.t-mt-10 {
  margin-top: 2.5rem;
}

.t-display-xl {
  font-size: 2.25rem;
} */
