.image-slider__main {
  font-family: 't-Dahlia', serif !important;
}

.image-slider__main p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.slide {
  display: none;

  width: 100%;

  @media screen and (min-width: 850px) {
    display: grid;
    margin: 0 1rem;
  }
}

img.slide__main {
  width: 100%;
}

.slide img {
  height: 15rem;
}

.image-slider__container {
  display: grid;
  grid-auto-flow: column;
  width: 100%;

  @media screen and (min-width: 750px) {
    grid-template-columns: 1fr 40%;
  }
}

.image-slider__container img {
  object-fit: cover;
}

.image-slider__slider {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  @media screen and (min-width: 750px) {
    align-items: end;
  }
}

.image-slider__controls {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}

.image-slider__controls p {
  font-size: 1.25rem;
}

.image-slider__buttons {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 0;

  @media screen and (min-width: 750px) {
    gap: 1.25rem;
  }
}

.image-slider__buttons button {
  display: flex;

  background-color: transparent;
  border: none;

  padding: 0;
  margin: 0;

  height: fit-content;
  width: fit-content;

  border-radius: 1000px;

  font-size: 16px;

  height: 3.25rem;
  width: 3.25rem;

  @media screen and (min-width: 750px) {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.image-slider__buttons button svg {
  height: 100%;
  width: 100%;
}

.image-slider__buttons button:hover {
  background-color: rgba(var(--color-foreground), 0.3);
  cursor: pointer;
}

.image-slider__buttons button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
